table{
    width:400px;
    border-collapse: collapse;
    border: 2px solid black;
}
th,
td{
    padding: 5px;
    border: 1px solid black;
}
tr:nth-child(1){
    color: white;
    background-color:rgb(89, 89, 89);
}
tr:nth-child(3){
    background-color: rgb(182, 182, 182);
}
th{
    color:white;
    background-color: black;
}
.blank{
    background-color: black;
}
caption{
    caption-side: bottom;
    size: smaller;
    padding:0.2rem;

}
thead th,
tbody td{
    text-align: center;
}