@media screen and (min-width: 500px) {

    h1{
        color: aliceblue;
        background-color: black;
    }
    main{
        display: flex;
        gap:2rem;
    }
    section{
        background-color: cadetblue;
        width: 50%;
        margin:10px;
    }
    h2{
        color: black;
    }

}