@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



h1{
    color: aliceblue;
    background-color: dodgerblue;
    height: 100px;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 0;
}
header nav{
    display: flex;
    list-style: none;;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    background-color:cornflowerblue  
}
nav a {
    margin: 15px;
    color:aliceblue;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h3{
    color: aliceblue;
}
body{
    color: black;
    background-color: white;
    margin: 0;
}
h2{
    background-color:bisque;
    padding: 1rem;
    margin: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
h3{
    padding:10px;
}
main{
    
    max-width: 100%;
    display:grid;
    grid-template-columns: 2fr 1fr;
    margin:2rem auto;
    gap:2rem

 
}
.intro{
    display: flex;
    justify-content: space-between;
    width:100%;
    background-color: cadetblue;
}
.country{
    display: flex;
}
.card{
    border-radius: 10px;
    background-color: cadetblue;
    margin: 1rem;

}
.resources{
    background: cadetblue;
}

main .image{
    margin:10px;
    height:150px;
    border-radius: 8px;

    position: relative;
}

footer{
    display: flex;
    color: aliceblue;
    background-color: dodgerblue;
    height: 100px;
    align-content: center;
    align-items: center;
}
span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
}